<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <connectionStrings>
      <add name="db" providerName="System.Data.SqlClient"
        connectionString="Data Source=127.0.0.1;Initial Catalog=master; User Id=sa;Password=sa"/>
    </connectionStrings>

    <appSettings>
      <add key="asString" value="lorem ipsum"/>
      <add key="asBool" value="True"/>
      <add key="asInt16" value="32767"/>
      <add key="asInt32" value="2147483647"/>
      <add key="asInt64" value="9223372036854775807"/>
      <add key="asFloat" value="1234567890.3333333"/>
      <add key="asDouble" value="12345678901234567890123456789012345678901234567890.3333333333333333333333333333"/>
      <add key="asDecimal" value="79228162514264337593543950335.1"/>
      <add key="asTimeSpan" value="4.03:04:20.0550000"/>
      <add key="asDateTime" value="20/11/2018 04:20:55"/>
    </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  
</configuration>